*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraftia', sans-serif;
}
#app{
    background-color: #1a1a1a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
