main{
    background-image: url("../../../assets/images/home/backgroundDesktop.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    height: 100vh;

    .container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10vh 0;

        .welcome{
            width: 100%;
            color: #fff;
            text-align: center;
            padding: 20px 0;

            .text{
                background-color: rgba(32, 32, 32, 0.2);
                backdrop-filter: blur(4px);
                padding: 10px;
            }
        }

        .buttons-container{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .buttons{
                align-items: center;
                width: 15vw;
            }
        }

    }
}

@media (max-width: 720px) {
    main{
        background-image: url("../../../assets/images/home/wallpaper_minecraft_update_aquatic_1080x1920.png");

        .container{
        padding: 2vh 0;
        justify-content: start;
        gap: 20vh;
            .buttons{
            display: flex !important;
            width: 50vw !important;
            align-items: center;
            justify-content: center;

            .welcome{
                background-color: #fff !important;
            }

        }

        }
    }
}